@import url('https://fonts.googleapis.com/css?family=Bitter');

@font-face {
    font-family: 'Metropolis';
    src: url('/css/fonts/Metropolis/Metropolis-Bold.eot'); /* IE9 Compat Modes */
    src: url('/css/fonts/Metropolis/Metropolis-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/css/fonts/Metropolis/Metropolis-Bold.woff') format('woff'), /* Modern Browsers */
        url('/css/fonts/Metropolis/Metropolis-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-style:   normal;
    font-weight:  700;
}

@font-face {
    font-family: 'Metropolis';
    src: url('/css/fonts/Metropolis/Metropolis-Light.eot'); /* IE9 Compat Modes */
    src: url('/css/fonts/Metropolis/Metropolis-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/css/fonts/Metropolis/Metropolis-Light.woff') format('woff'), /* Modern Browsers */
        url('/css/fonts/Metropolis/Metropolis-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-style:   normal;
    font-weight:  200;
}

@font-face {
    font-family: 'Metropolis';
    src: url('/css/fonts/Metropolis/Metropolis-Regular.eot'); /* IE9 Compat Modes */
    src: url('/css/fonts/Metropolis/Metropolis-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/css/fonts/Metropolis/Metropolis-Regular.woff') format('woff'), /* Modern Browsers */
        url('/css/fonts/Metropolis/Metropolis-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-style:   normal;
    font-weight:  400;
}

@font-face {
    font-family: 'Metropolis';
    src: url('/css/fonts/Metropolis/Metropolis-RegularItalic.eot'); /* IE9 Compat Modes */
    src: url('/css/fonts/Metropolis/Metropolis-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/css/fonts/Metropolis/Metropolis-RegularItalic.woff') format('woff'), /* Modern Browsers */
        url('/css/fonts/Metropolis/Metropolis-RegularItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-style:   italic;
    font-weight:  400;
}

@font-face {
    font-family: 'icomoon';
    src: url('/css/fonts/icomoon/icomoon.eot?28tznr');
    src: url('/css/fonts/icomoon/icomoon.eot?28tznr#iefix') format('embedded-opentype'),
        url('/css/fonts/icomoon/icomoon.ttf?28tznr') format('truetype'),
        url('/css/fonts/icomoon/icomoon.woff?28tznr') format('woff'),
        url('/css/fonts/icomoon/icomoon.svg?28tznr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
